.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.border {
    width: 150px;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.border:hover {
    background-color: lightgray;
    cursor: pointer;
}