<div class="container">
    <div *ngIf="!isShowConcept" class="text-center">
        <p class="front">{{ currentFlashcard.frontSide }}</p>
        <p class="back">{{ currentFlashcard.backSide }}</p>
    </div>
    
    <div *ngIf="isShowConcept" class="content">
        <div class="text-center">
            <p class="back">{{ currentFlashcard.backSide }}</p>
        </div>
        
        <div class="grid-container">
            <div  
                class="flashcard"
                *ngFor="let flashcard of definitionList; index as i" 
                (keydown)="handleKeyPress(flashcard, i)" 
                (click)="check(flashcard)" 
                tabindex="0">
                <p class="text">{{ flashcard.frontSide }}</p>
            </div>
        </div>
        
        <div class="button-group">
            <button class="repeat-btn">Repeat</button>
            <button class="next-btn">Move to next batch</button>
        </div>
    </div>
</div>
