<div class="border container">
    <div class="row">
        <!-- <p>MODE:</p> -->
        <!-- <p>{{modeType}}</p> -->
    </div>
    <div class="row">
        <p class="main-text">{{this.currentFlashcard.backSide}}</p>
        <!-- <p class="gray">{{this.currentFlashcard.frontSide}}</p> -->
    </div>
    <div class="row">
        <input class="styled-input" #userInputRef [(ngModel)]="userInput" (keydown)="checkFlashcard($event)">
    </div>
    <div class="row" *ngIf="showResult">
        <div *ngIf="isCorrect">
            <p>Correct! Great answer!</p>
            <p>Press any key to continue...</p>
        </div>
        <div *ngIf="!isCorrect">
            <p>Wrong.</p>
            <p>Correct answer is: {{this.currentFlashcard.frontSide}}</p>
            <p>Press any key to continue...</p>
        </div>
    </div>
</div>