<div>
    <p>{{this.currentFlashcard.backSide}}</p>
    <div>
        <input #userInputRef [(ngModel)]="userInput" (keydown)="checkFlashcard($event)">
        <p>s + {{this.userInput}}</p>
    </div>
    <div *ngIf="showResult">
        <div *ngIf="isCorrect">
            <p>Correct! Great answer!</p>
            <p>Press any key to continue...</p>
        </div>
        <div *ngIf="!isCorrect">
            <p>Wrong.</p>
            <p>Correct answer is: {{this.currentFlashcard.frontSide}}</p>
            <p>Press any key to continue...</p>
        </div>
    </div>
</div>