<div>
    <div class="content">
        <div>
            <div>
                <p>You will practice following examples:</p>
            </div>
            <div>
                <p>English -> Polish</p>
            </div>
            <div>
                <p>1.</p>
                <p><strong>car</strong></p>
                <p>Samochód</p>
            </div>
        </div>
        <div>
            <div>
                <p>Selected Exercises:</p>
            </div>
            <div>
                <p>Flashcards</p>
                <p>Writing</p>
            </div>
        </div>
        <div>
            <p>Start!</p>
        </div>
    </div>
</div>