<div>
  <div *ngIf="isLoading">
    <mat-progress-spinner></mat-progress-spinner>
  </div>

  <div *ngIf="!isLoading && lesson">
    <p>{{ lesson.name }}</p>

    <div *ngIf="lesson.flashcards?.length === 0">
      <p>Flashcard list empty!</p>
    </div>

    <div>
      <p>Flashcards in lesson:</p>
      <div *ngFor="let flashcard of lesson.flashcards">
        <p>{{ flashcard.front }}</p>
      </div>
    </div>

    <button>Add flashcards</button>
    <app-flashcard-creator
      [lesson]="lesson"
      (emitFlashcards)="addFlashcardsToLesson($event)">
    </app-flashcard-creator>
  </div>
</div>
