.lesson-selection {
  max-width: 600px;
  margin: 1rem auto;
}

.lesson-selection p {
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: rgba(215, 104, 84, 0.7);
  font-weight: bolder;
  letter-spacing: 0.07rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.custom-label {
  color: #333;
  letter-spacing: 0.07rem;
  font-size: larger;
}

.folder-item:hover {
    background: #e0e0e0;
}

.folder-item {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s ease;
    cursor: pointer;

}