<section class="exercise-selection">
  <p>Select Exercises:</p>
  <div>
    <div
      cdkDropList
      cdkDropListLockAxis="y"
      [cdkDropListData]="exerciseContainer"
      class="checkbox-group inner-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of exerciseContainer; track item; let i = $index) {
        <div cdkDrag class="flex-row folder-item" >
          <div>
            <mat-checkbox 
              [formControl]="item.control"
              (click)="$event.stopPropagation()">
              <span class="custom-label">{{ item.name }}</span>
            </mat-checkbox>
          </div>
          <div>
            <mat-icon>drag_indicator</mat-icon>
          </div>
        </div>
      }
    </div>
  </div>
</section>
