<div style="align-items: center;">
  <div class="spaced-out" >
        <div>
            <span style="color: rgb(103, 101, 101);">Exercise {{this.exercisesData.exerciseIndex}} - <strong>{{this.exercisesData.currentExercise.name}}</strong></span>
        </div>
        <div>
            <span style="color: rgb(103, 101, 101);"><strong>{{flashcardList.length}}</strong> - Flashcards</span>
        </div>  
  </div>
  <div class="row">
    <div class="example-container">
        <p class="heading main-title" >Question</p>
        <div class="example-list"> 
            @for (item of frontSideContainer; track item) {
                <div class="example-box">{{item}}</div>
            }
        </div>
    </div>
  
    <div class="example-container" >
      <p class="heading main-title" style="text-align: end;">Answer</p>
      <div
        cdkDropList
        cdkDropListLockAxis="y"
        [cdkDropListData]="this.backSideContainer"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of backSideContainer; track item; let i = $index) {
          <div class="example-box" cdkDrag>{{item.word}}
            <span *ngIf="item.correctIndex === i && this.showAnswer">correct</span> 
            <span *ngIf="item.correctIndex !== i && this.showAnswer">WRONG!</span> 
          </div>
        }
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <div *ngIf="this.showAnswer">
      <button class="secondary-button" (click)="continueToSummary()">Continue</button>
    </div>
    <div *ngIf="!this.showAnswer">
      <button class="green-button" (click)="checkAnswer()">Check</button>
    </div>
  </div>
</div>
