<div class="text">
    <div>
        <p>You have following new material for today:</p>
        <div class="container">
            <div>
                <p>German</p>
                <p>20 new words</p>
                <p>10 revisions</p>
                <p>Press start to try to pass new material</p>
                <p>Or press practice to train new words before exam</p>
            </div>
            <div>
                <p>Romanian</p>
                <p>15 new words</p>
                <p>5 revisions</p>
                <p>Press start to try to pass new material</p>
                <p>Or press practice to train new words before exam</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <a routerLink="/exam">Exam</a>
            </div>
            <div>
                <a routerLink="/practice">Practice</a>
            </div>
        </div>
        <div>
            <a routerLink="/create-flashcard">Create new flashcard</a>
        </div>
        <div>
            <a routerLink="/browse-lessons">Browse Lessons</a>
        </div>
        <!-- <app-words-creator></app-words-creator> -->
    </div>
</div>

