<section class="exam-verification">
  <h2>Verify Your Knowledge</h2>

  <div class="flashcard-stats">
    <div class="stat-item">
      <h3>Repetition</h3>
      <p>{{ repetitionMaterial.length }} flashcards to repeat</p>
    </div>
    <div class="stat-item">
      <h3>New Flashcards</h3>
      <p>{{ newMaterial.length }} new flashcards</p>
    </div>
  </div>

  <button class="start-btn" (click)="startExamMode()">Start</button>

  <div *ngIf="startExam">
    <!-- <app-writing-exercise [flashcards]="newMaterial" [modeType]="modeType"></app-writing-exercise> -->
  </div>
</section>