<div>
    <div *ngIf="folder">
        <div>
            <p>{{folder.folderName}}</p>
        </div>
    </div>
    <div *ngIf="!folder">
        <form>
            <p>Select Folder</p>
            <mat-form-field>
              <mat-label>Choose folder</mat-label>
              <mat-select (selectionChange)="selectedFolderChange()" [(ngModel)]="selectedValue" name="folder">
                @for (folder of folderList; track folder) {
                  <mat-option [value]="folder.folderName">{{folder.folderName}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>
        <div>
            <p>Set lesson name</p>
            <input [(ngModel)]="lessonName" placeholder="Enter lesson name">
            <button (click)="addLesson()">Add lesson</button>
        </div>
    </div>
    <div *ngIf="selectedFolder && selectedFolder.lessonList.length > 0">
        <p>Existing lessons</p>
        <div *ngFor="let lesson of selectedFolder.lessonList">
            <p>{{lesson.name}}</p>
        </div>
    </div>
</div>