<div class="folder-wrapper">
  <div class="flex-row">
    <div>
      <span class="heading">Select folder</span>
    </div>
    <div>
      <mat-icon class="cancel-icon" (click)="onCancel()">cancel</mat-icon>
    </div>
  </div>
  <mat-dialog-content>
    <div class="inner-list">
      <div class="list-item" *ngFor="let folder of foldersWithCounter">
        <div class="item-name-container">
          <button class="card" (click)="folderSelected(folder)">{{ folder.folder.name }}</button>  
        </div>
        <div class="lessons-container">
          <span *ngIf="folder.lessonCounter === 1">
            {{folder.lessonCounter}} lesson
          </span>
          <span *ngIf="folder.lessonCounter > 1">
            {{folder.lessonCounter}} lessons
          </span>
          <span *ngIf="folder.lessonCounter === 0">
            ⚠️ {{folder.lessonCounter}} lessons 
          </span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
