<div class="container-wrapper">
  <div class="flex-row">
    <div class="headings">
      <div>
        <h1>
          Master Languages <br> In The Most Effective Way
        </h1>
      </div>
      <div>
        <h2>
          Vocabulary Learner lets you create flashcards and practice them with interactive exercises to boost your vocabulary. Track your progress and learn anytime, anywhere, at your own pace.
        </h2>
      </div>
    </div>

    <div class="inner-list menu">
      <div *ngIf="noFoldersExist">
        <a routerLink="/folder-creator" class="action-btn">
          <span class="action-icon">➕</span>
          <span class="action-label">Add Folder</span>
        </a>
        <h4 style="text-align: center;">Create your first folder to begin learning!</h4>
      </div>
      <div *ngIf="!noFoldersExist" class="menu">
        <button
          class="action-btn"
          (click)="openFoldersSelectorDialog()">
          <span class="action-icon">🔍</span>
          <span class="action-label">Practice</span>
        </button>
        
        <a routerLink="/flashcard-creator" class="action-btn">
          <span class="action-icon">➕</span>
          <span class="action-label">Add Flashcards</span>
        </a>
      </div>
    </div>
  </div>
  <div>
    <h2>Today’s revisions</h2>
    <div class="inner-list menu" >
      <div *ngFor="let folderWithFlashcards of flashcardsDueToday">
        <span>Folder {{folderWithFlashcards.folder.name}} flashcards for review {{folderWithFlashcards.flashcards.length}} Press to start review</span>

      <!-- rename link to learning-session/exam -->
      <button
        class="action-btn"
        (click)="startExamLearningSession(folderWithFlashcards.folder.id)">
        <span class="action-label">Exam</span>
      </button>

      </div>
    </div>
  </div>
</div>