<div class="container-wrapper">
  <div class="flex-row">
    <div class="headings">
      <div>
        <h1>
          Master Languages <br> In The Most Effective Way
        </h1>
      </div>
      <div>
        <h2>
          Vocabulary Learner lets you create flashcards and practice them with interactive exercises to boost your vocabulary. Track your progress and learn anytime, anywhere, at your own pace.
        </h2>
      </div>
    </div>

    <div class="inner-list menu">
      <div *ngIf="noFoldersExist">
        <a routerLink="/folder-creator" class="action-btn action-btn-big">
          <span class="action-icon">➕</span>
          <span class="action-label">Add Folder</span>
        </a>
        <h4 style="text-align: center;">Create your first folder to begin learning!</h4>
      </div>
      <div *ngIf="!noFoldersExist" class="menu">
        <button
          class="action-btn action-btn-big"
          (click)="openFoldersSelectorDialog()">
          <span class="action-icon">🔍</span>
          <span class="action-label">Practice</span>
        </button>
        
        <a [routerLink]="['/flashcard-creator']" class="action-btn action-btn-big">
          <span class="action-icon">➕</span>
          <span class="action-label">Add Flashcards</span>
        </a>
      </div>
    </div>
  </div>
  <div>
    <h2><strong>Today’s revisions:</strong></h2>
    <div class="inner-list review-folders flex-col">
      <div *ngFor="let folderWithFlashcards of flashcardsDueToday" class="flex-row">
        <div class="flex-row">
          <div class="bubble">
            <span>
              {{folderWithFlashcards.folder.name}} 
            </span>
          </div>
          <div class="flex-col bubble">
              <span *ngIf="folderWithFlashcards.flashcards.length === 1">
                {{folderWithFlashcards.flashcards.length}} revision
              </span>
              <span *ngIf="folderWithFlashcards.flashcards.length > 1">
                {{folderWithFlashcards.flashcards.length}} revisions
              </span>
              <!-- <span>
                {{folderWithFlashcards.flashcards.length}} new flashcards
              </span> -->
          </div>
        </div>
        <button
          class="action-btn action-btn-small"
          (click)="startExamLearningSession(folderWithFlashcards.folder.id)">
          <span class="action-label"><mat-icon>school</mat-icon></span>
          <span>Begin</span>
        </button>
      </div>
    </div>
  </div>
</div>