<div class="container-wrapper">
  <div class="flex-row">
    <div class="headings">
      <div>
        <h1>
          Master Languages <br> In The Most Effective Way
        </h1>
      </div>
      <div>
        <h2>
          Vocabulary Learner lets you create flashcards and practice them with interactive exercises to boost your vocabulary. Track your progress and learn anytime, anywhere, at your own pace.
        </h2>
      </div>
    </div>

    <div class="inner-list menu">
      <!-- <a
        routerLink="/practice-selector"
        class="action-btn"
        [class.disabled]="noFoldersExist"
        [routerLink]="noFoldersExist ? null : '/practice-selector'"
        (click)="openFoldersSelectorDialog()"
      > -->
      <button
        class="action-btn"
        (click)="openFoldersSelectorDialog()"
      >
        <span class="action-icon">🔍</span>
        <span class="action-label">Practice</span>
      </button>
      
      <a routerLink="/flashcard-creator" class="action-btn">
        <span class="action-icon">➕</span>
        <span class="action-label">Add Flashcards</span>
      </a>
    </div>
  </div>
</div>