.folder-wrapper { 
  max-width: 700px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.selectors {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  flex: 1 1 45%;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(197, 164, 147, 0.21);
  background-color: white;
}

.lesson-selection {
  max-width: 600px;
  margin: 1rem auto;
}

.second-title {
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: rgba(215, 104, 84, 0.7);
  font-weight: bolder;
  letter-spacing: 0.07rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.flashcard-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5vh;
  padding: 1vh;
}

.flashcard-content {
  flex-grow: 1;
  text-align: center;
  font-size: larger;
  font-weight: 490;
}

.flashcard-size-description {
  color: gray;
  font-size: smaller;
}

.icon {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s ease;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    color: #535353;
}
  
.edit-icon:hover {
    color: #1976d2;
}
  
.delete-icon:hover {
    color: #d32f2f;
}

.add-icon {
    text-align: center;
    color: #2e7d32;              
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

.add-icon:hover {
  color: #43a047;             
  transform: scale(1.05);      
}

.align-center {
  justify-content: center;
}

.enabledSRS {
  color: #c4a014;              
}