<div class="folder-wrapper">
  <div *ngIf="folderList?.length === 0" class="folder-empty">
    <div class="empty-message">
      <p class="heading">You don’t have any folders yet.</p>
      <p class="subtext">Start by creating your first one!</p>
    </div>

    <div class="input-section">
      <div class="input-group">
        <p class="field-label">Folder Name</p>
        <input [(ngModel)]="folderName" class="input-field" placeholder="e.g. Spanish Basics" />
      </div>
      <div class="input-group">
        <p class="field-label">Lesson Name</p>
        <input [(ngModel)]="lessonName" class="input-field" placeholder="e.g. Greetings & Introductions" />
      </div>
    </div>

    <div class="action-section">
      <button (click)="createFolder()" class="primary-btn">Create</button>
    </div>
  </div>

  <div *ngIf="folderList?.length !== 0" class="folder-selection">
    <div class="section">
      <form>
        <p class="heading">Select a Folder</p>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Choose folder</mat-label>
          <mat-select (selectionChange)="selectedFolderChange()" [(ngModel)]="selectedFolder" name="folder">
            @for (folder of folderList; track folder) {
              <mat-option [value]="folder.name">{{folder.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div *ngIf="lessonList" class="section">
      <form>
        <p class="heading">Select a Lesson</p>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Choose lesson</mat-label>
          <mat-select (selectionChange)="selectedLessonChange()" [(ngModel)]="userLessonSelection" name="lesson">
            @for (lesson of lessonList; track lesson) {
              <mat-option [value]="lesson.name">{{lesson.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div *ngIf="userLessonSelection" class="section">
      
      <!-- Adding flashcards in bundle -->
      <div class="creator-section">
        <app-flashcard-creator [lesson]="selectedLesson" (emitFlashcards)="saveFlashcards($event)"></app-flashcard-creator>
      </div>

      <!-- Display the list of flashcards -->
      <div *ngIf="flashcardList && !isFlashcardListLoading" class="flashcard-list">
        @for (flashcard of flashcardList; track flashcard.id) {
          <p class="flashcard-item">
            <strong>Front:</strong> {{ flashcard.front }}<br>
            <strong>Back:</strong> {{ flashcard.back }}
          </p>
        }
      </div>
      <div *ngIf="isFlashcardListLoading"> 
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>
