.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.folder-item {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s ease;
    cursor: pointer;

}

.folder-name-container {
    flex-grow: 1.6;
    text-align: center;
    text-decoration: none;
}
  
.folder-item:hover {
    background: #e0e0e0;
}
  
.folder-name {
    font-size: 1.2rem;
    color: #3b3b3b;
}

.folder-icon {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s ease;
    padding: 1.1rem 1.9rem 1.1rem 1.9rem;
    color: #535353;
}
  
.edit-icon:hover {
    color: #1976d2;
}
  
.delete-icon:hover {
    color: #d32f2f;
}
  
.add-folder {
    text-align: center;
    margin-top: 15px;
}
  
.add-icon {
    text-align: center;
    color: #2e7d32;              
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

.add-icon:hover {
  color: #43a047;             
  transform: scale(1.05);      
}
  