<nav class="flex-row container">
    <div>
        <a href="#">
            <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
        </a>
    </div>
    <div class="flex-row gap">
        <!-- <div>
            <a href="/practice-selector">Exercise</a>
        </div>
        <div>
            <a href="/browse-lessons">Organize</a>
        </div> -->
    </div>
    <div class="flex-row gap-low">
        <div class="add-menu">
            <mat-icon [matMenuTriggerFor]="addMenu" aria-hidden="false" aria-label="Add elements icon" fontIcon="add_circle_outline"></mat-icon>
            <mat-menu #addMenu="matMenu">
                <button mat-menu-item [routerLink]="['/flashcard-creator']">Add Flashcard <mat-icon fontIcon="note_stack"></mat-icon></button>
                <button mat-menu-item [routerLink]="['/lesson-creator']">Add Lesson <mat-icon fontIcon="library_books"></mat-icon></button>
                <button mat-menu-item>Add Folder <mat-icon fontIcon="create_new_folder"></mat-icon></button>
            </mat-menu>
        </div>
        <div class="flex-row gap-low">
            <div>
                <!-- <a href="/register">
                    <mat-icon aria-hidden="false" aria-label="Profile icon" fontIcon="account_circle"></mat-icon>
                </a> -->
            </div>
            <div>
                <a href="#">
                    <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="login"></mat-icon>
                </a>
            </div>
        </div>
    </div>
</nav>