.container {
  background-color: #fafafa;
  border-radius: 10px;    
  padding: 10px;          
  margin: 0 auto;   
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
}

.counters {
  padding: 1rem;
}

button {
  height: 48px;
  text-align: center;
  font-size: 1rem;
}

.spaced-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Adds spacing between items */
  }
  
  .flex-row {
    display: flex;
    justify-content: center;
    gap: 16px; /* Adds spacing between buttons */
  }
  
  .center {
    justify-content: center;
    align-items: center;
  }
  
.box-answer {
  border-radius: 16px;
  padding: 70px 60px 70px 60px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  text-align: center;
  border: #60616c;
  color: black;
  width: 350px;
}

.box-question {
  background: linear-gradient(135deg, #94959d, #60616c);
  border-radius: 16px; 
  border-color: #60616c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  width: 350px; 
  padding: 70px 60px 70px 60px;
  color: white; 
  font-weight: bolder;
  text-align: center;
}
  
  .text h1 {
    font-size: 24px;
    margin: 0;
  }
  
.button-container {
  margin-top: 20px;
}
  
.user-question {
  font-size: 16px;
  color: #555;
}

.continue-buttons {
  padding-bottom: 2rem;
}