<div class="container">
    <div class="spaced-out counters">
        <div>
            <span style="color: rgb(103, 101, 101);">Exercise {{this.exercisesData.exerciseIndex}} - <strong>{{this.exercisesData.currentExercise.name}}</strong></span>
        </div>
        <div>
            <span style="color: rgb(103, 101, 101);"><strong>{{currentFlashcardIndex}}/{{flashcardList.length}}</strong> - Answers</span>
        </div>  
    </div>
    <div *ngIf="!showCorrectAnswer" class="flex-col">
        <div class="box text center">
            <h1>{{this.currentFlashcard.back}}</h1>
        </div>
        <div class="button-container center">
            <button class="border button"(click)="toggleShowCorrectAnswer()">Check</button>
        </div>
    </div>
    <div *ngIf="showCorrectAnswer" class="flex-col">
        <div class="flex-col">
            <div class="box-answer text center"> 
                <h1>{{this.currentFlashcard.front}}</h1>
            </div>
            <div>
                <span>Did you know the answer?</span>
            </div>
            <div class="flex-row center">
                <button (click)="saveAnswer(true)">Correct</button>
                <button (click)="saveAnswer(false)">Wrong</button>
            </div>
        </div>
    </div>
</div>
