<div class="container">
    <div class="folders-section" *ngIf="this.folderList.length > 0">
      <h1>Folders</h1>
      <div class="folder-list">
        <div *ngFor="let folder of folderList; index as i" class="folder-item">
          <a [routerLink]="['/folder-details', folder.id]">
            <span class="folder-name">{{ folder.name }}</span>
          </a>
          <mat-icon class="folder-icon edit-icon" aria-hidden="false" aria-label="Edit folder icon" fontIcon="edit_document"></mat-icon>
          <mat-icon class="folder-icon delete-icon" aria-hidden="false" aria-label="Delete folder icon" fontIcon="delete" (click)="removeFolder(i)"></mat-icon>
        </div>
      </div>
      <div class="add-folder">
        <a href="/folder-creator"> 
          <mat-icon class="folder-icon add-icon" aria-hidden="false" aria-label="Add new folder icon" fontIcon="add_circle"></mat-icon>
        </a>
      </div>
    </div>
    <div *ngIf="this.folderList.length === 0">
      <div>
        <h1>Folders list is empty.</h1>
      </div>
      <div>
        <div class="add-folder">
          <a href="/folder-creator"> 
            <mat-icon class="folder-icon add-icon" aria-hidden="false" aria-label="Add new folder icon" fontIcon="add_circle"></mat-icon>
          </a>
        </div>
      </div>
    </div>
</div>
  