<div class="container">
    <div *ngIf="!isShowConcept" class="text-center">
        <p class="front">{{ currentFlashcard.front }}</p>
        <p class="back">{{ currentFlashcard.back }}</p>
    </div>

    <div *ngIf="!isShowConcept">
        <span>{{timeCounter}}</span>
    </div>
    
    <div *ngIf="isShowConcept" class="content">
        <div class="text-center">
            <p class="back">{{ currentFlashcard.back }}</p>
        </div>
        
        <div class="grid-container">
            <div  
                class="flashcard"
                *ngFor="let flashcard of definitionList; index as i" 
                (keydown)="handleKeyPress(flashcard, i)" 
                (click)="checkAnswer(flashcard)" 
                tabindex="0">
                <p class="text">{{ flashcard.front }}</p>
            </div>
        </div>

        <div *ngIf="isShowResult" class="flex-col">
            <span [ngClass]="isCorrect ? 'correct' : 'wrong'">
                {{isCorrect ? 'Correct' : "Wrong"}}
            </span>
            <span *ngIf="!isCorrect">
                Correct: {{this.currentFlashcard.front}}
            </span>
            <button (click)="moveToNextFlashcardInBatch()">Next flashcard</button>
        </div>
    </div>
</div>
