/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito+Sans:wght@400;600&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// Structure
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

// use it as default inner window styling
.folder-wrapper {
  max-width: 650px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-wrapper {
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(197, 164, 147, 0.21);
}

.main-background {
  
}

.main-window {
  background-color: white;
  box-shadow: 0 2px 10px rgba(197, 164, 147, 0.21);
}

// use it as default container list in the inner window 
.inner-list {
  margin-top: 1rem;
  padding: 1rem;
  background: #fafafa;
  border-radius: 12px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
}

// use it as default item in list
.list-item {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.list-item:hover {
    background: #e0e0e0;
}

.item-name-container {
    flex-grow: 1.6;
    text-align: center;
    text-decoration: none;
}

.item-name {
    font-size: 1.2rem;
    color: #3b3b3b;
}

// use it as default section title 
.heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgba(215, 104, 84, 0.7);
  font-weight: bolder;
  letter-spacing: 0.07rem;
}

// Buttons styling
.main-button {
  text-align: center;
}

.main-button  {
  background: linear-gradient(135deg, #e69981, #d17f74);
  border: none;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(215, 104, 84, 0.7);
  transition: background 0.3s ease;
}

.main-button:hover {
  background: linear-gradient(135deg, #d67a6f, #c44b6f);
}

.secondary-button {
  background: linear-gradient(135deg, #d5a6bd, #f3b9b9);
  border: none;
  padding: 0.8rem 2.5rem;
  color: white;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 12px rgba(213, 166, 189, 0.8);
}

.secondary-button:hover {
  background: linear-gradient(135deg, #c594ac, #e6a4a4);
}

.green-button {
  background: linear-gradient(135deg, #53b568, #43b567);
  border: none;
  padding: 0.8rem 2.2rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(76, 175, 107, 0.45);
  transition: all 0.3s ease;
}

.green-button:hover {
  background: linear-gradient(135deg, #6ccf82, #3e9e5d);
  box-shadow: 0 7px 18px rgba(76, 175, 107, 0.55);
}

.support-button {
  
}

// Texts styling
.sub-title-color {
  color: rgba(215, 104, 84, 0.7);
}

// Icons 
.cancel-icon {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s ease;
    color: #535353;
}

.cancel-icon:hover {
  color: rgba(215, 104, 84, 0.7);
}