<div class="border container">
    <div class="spaced-out counters" >
        <div>
            <span style="color: rgb(103, 101, 101);">Exercise {{this.exercisesData.exerciseIndex}} - <strong>{{this.exercisesData.currentExercise.name}}</strong></span>
        </div>
        <div>
            <div *ngIf="isExamMode">
                <div>
                    <mat-icon 
                        class="" 
                        aria-hidden="false" 
                        aria-label="Edit flashcard icon" 
                        fontIcon="star" 
                        matTooltip="Modify flashcard" 
                        matTooltipPosition="right">
                    </mat-icon>
                    <mat-icon 
                        class="" 
                        aria-hidden="false" 
                        aria-label="Edit flashcard icon" 
                        fontIcon="star_half" 
                        matTooltip="Modify flashcard" 
                        matTooltipPosition="right">
                    </mat-icon>
                    <mat-icon 
                        class="" 
                        aria-hidden="false" 
                        aria-label="Edit flashcard icon" 
                        fontIcon="star_border" 
                        matTooltip="Modify flashcard" 
                        matTooltipPosition="right">
                    </mat-icon>
                    <mat-icon 
                        class="" 
                        aria-hidden="false" 
                        aria-label="Edit flashcard icon" 
                        fontIcon="star_border" 
                        matTooltip="Modify flashcard" 
                        matTooltipPosition="right">
                    </mat-icon>
                    <mat-icon 
                        class="" 
                        aria-hidden="false" 
                        aria-label="Edit flashcard icon" 
                        fontIcon="star_border" 
                        matTooltip="Modify flashcard" 
                        matTooltipPosition="right">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span style="color: rgb(103, 101, 101);"><strong>{{currentFlashcardIndex}}/{{flashcardList.length}}</strong> - Answers</span>
            </div>
        </div>  
    </div>
    <div class="row">
        <p class="main-text">{{this.currentFlashcard.back}}</p>
    </div>
    <div class="row">
        <input class="styled-input" 
        #userInputRef   
        [(ngModel)]="userInput" 
        (keydown)="checkFlashcard($event)">
    </div>
    <div class="row invalid-input">
        <div *ngIf="comment">
        {{this.comment}}
        </div>
    </div>
    <div *ngIf="!showResult" class="buttons-container">
        <div class="button-item">
            <button class="secondary-button button" (click)="showCorrectAnswer()">I don't know</button>
        </div>
        <div class="button-item">
            <button class="green-button button" (click)="checkFlashcardMouseClick()">Check</button>
        </div>
    </div>
    <div class="row outcome-container" *ngIf="showResult">
        <section
            class="frost-card"
            [ngClass]="{ 'frost-card--success': isCorrect, 'frost-card--error': !isCorrect }"
            role="status" aria-live="polite"
        >
            <p *ngIf="isCorrect">✅ Correct! Great answer!<br>Press any key to continue...</p>

            <p *ngIf="!isCorrect">
            ❌ Incorrect.<br>
            Correct answer is: <strong>{{ currentFlashcard.front }}</strong><br>
            Press any key to continue...
            </p>
        </section>
    </div>
    <div class="row" *ngIf="showResult"> 
        <button class="green-button" (click)="continueToNextFlashcard()">Continue</button>
    </div>
</div>