nav {
    background-color: #333;
    padding: 12px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap {
    gap: 2vw;
}

.gap-low {
    gap: 1vw;
}

.add-menu:hover {
    cursor: pointer;
}