<!-- <app-navbar></app-navbar>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<div class="page-wrapper">
    <nav>
        <div class="nav-content">
            <div class="nav-links">
                <a href="#">Home</a>
            </div>
            <div *ngIf="!isUser">
                <a href="/register">Register</a>
            </div>
            <div *ngIf="isUser" class="nav-links">
                <a href="/user">Account Details</a>
            </div>
            <div *ngIf="isUser" class="nav-links">
                <button (click)="logoutUser()">Logout</button>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer>
        &copy; 2025 Your Company. All rights reserved.
    </footer>
</div>



