<!-- <app-navbar></app-navbar>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<div class="page-wrapper">
    <nav>
        <div class="nav-content">
            <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
            </div>
            <button class="signup">Sign Up</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer>
        &copy; 2025 Your Company. All rights reserved.
    </footer>
</div>



