<div>
  <div>
    <div class="example-container">
        <h2>To do</h2>
        <div class="example-list"> 
            @for (item of frontSideContainer; track item) {
                <div class="example-box">{{item}}</div>
            }
        </div>
    </div>
  
    <div class="example-container" >
      <h2>Done</h2>
      <div
        cdkDropList
        cdkDropListLockAxis="y"
        [cdkDropListData]="this.backSideContainer"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of backSideContainer; track item; let i = $index) {
          <div class="example-box" cdkDrag>{{item.word}}
            <span *ngIf="item.correctIndex === i && this.showAnswer">correct</span> 
            <span *ngIf="item.correctIndex !== i && this.showAnswer">WRONG!</span> 
          </div>
        }
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="this.showAnswer">
      <p>Press any key to continue...</p>
    </div>
    <div>
      <button (click)="checkAnswer()">Check</button>
    </div>
  </div>
</div>
