<div>
    <div class="example-container">
        <h2>To do</h2>
        <div class="example-list"> 
            @for (item of frontSideContainer; track item) {
                <div class="example-box">{{item}}</div>
            }
        </div>
    </div>
  
    <div class="example-container" >
      <h2>Done</h2>
      <div
        cdkDropList
        cdkDropListLockAxis="y"
        [cdkDropListData]="this.backSideContainer"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of backSideContainer; track item) {
          <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
</div>