<p>lesson-details-view works!</p>
<div>
    <p>{{lesson.name}}</p>
    <div *ngIf="lesson.flashcards.length === 0">
        <p>Flashcard list empty!</p>
    </div>
    <div *ngIf="lesson.flashcards.length > 0">
        <p>Flashcards in lesson:</p>
        <div *ngFor="let flashcard of lesson.flashcards">
            <p>{{flashcard.frontSide}}</p>
        </div>
    </div>
    <button>Add flashcards</button>
    <app-flashcard-creator-bundle (emitFlashcards)="addFlashcardsToLesson($event)"></app-flashcard-creator-bundle>
</div>